<a href="https://colab.research.google.com/github/BagusSatria123/TeknologiData/blob/master/Pertemuan6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Dictionary**
Dictionary adalah tipe data yang anggotanya terdiri dari pasangan kunci:nilai (key:value). Dictionary bersifat tidak berurut (unordered) sehingga anggotanya tidak memiliki indeks.

**Membuat Dictionary**

Dictionary dibuat dengan menempatkan anggotanya di dalam tanda kurung kurawal { }, dipisahkan oleh tanda koma.

Anggota dictionary terdiri dari pasangan kunci:nilai. Kunci harus bersifat unik, tidak boleh ada dua kunci yang sama dalam dictionary.

In [1]:
# Membuat dictionary kosong
my_dict = {}

In [ ]:
# dictionary dengan kunci integer
my_dict = {1: 'sepatu', 2: 'tas'}

In [ ]:
# dictionary dengan kunci campuran
my_dict = {'warna': 'merah', 1: [2,3,5]}

In [ ]:
# membuat dictionary menggunakan fungsi dict
my_dict = dict([(1:'sepatu'), (2:'bola')])

Mengakses Anggota Dictionary

In [1]:
my_dict = {'nama':'Budi', 'usia':27} 
# output: Budi 
print(my_dict['nama']) 
# output 27 
print(my_dict.get('usia'))

Budi
27

In [2]:
# Mengakses kunci yang tidak tersedia menyebabkan KeyError
my_dict['alamat']

KeyError: ignored

Mengubah Anggota Dictionary

In [ ]:
my_dict = {'nama':'Gani', 'usia':35} 
# mengupdate nilai 
my_dict['usia'] = 36 
# Output: {'nama': 'Gani', 'usia':36} 
print(my_dict) 
# menambah anggota 
my_dict['alamat'] = 'Medan'
# output: {'alamat': 'Medan', 'nama':'Gani', 'usia':36} 
print(my_dict)

{'nama': 'Gani', 'usia': 36}
{'nama': 'Gani', 'usia': 36, 'alamat': 'Medan'}

Menghapus Anggota Dictionary

In [3]:
# membuat dictionary baru
pangkat = {1:1, 2:4, 3:9, 4:16, 5:25}

In [4]:
# menghapus anggota tertentu
# output: 9
print(pangkat.pop(3))

9

In [5]:
# menghapus anggota secara acak
# output: (1,1)
print(pangkat.popitem())

(5, 25)

In [6]:
# yang tersisa adalah {2:4, 4:16, 5:25}
print(pangkat)

{1: 1, 2: 4, 4: 16}

In [ ]:
# delete 5
del pangkat[5]

In [8]:
# output: {2:4, 4:16}
print(pangkat)

{1: 1, 2: 4, 4: 16}

In [9]:
# menghapus semua anggota
pangkat.clear()

In [10]:
# menghapus dictionary pangkat
del pangkat

In [11]:
# Error karena pangkat sudah dihapus
print(pangkat)

NameError: ignored

**Fungsi**

In [ ]:
def sapa(nama): 
 """Fungsi ini untuk menyapa seseorang sesuai nama yang dimasukkan 
sebagai parameter""" 
 print("Hi, " + nama + ". Apa kabar?") 
 # pemanggilan fungsi 
# output: Hi, Umar. Apa kabar? 
sapa('Umar')

Hi, Umar. Apa kabar?

Memanggil Fungsi

In [ ]:
def sapa(nama): 
 """Fungsi ini untuk menyapa seseorang sesuai nama yang dimasukkan 
sebagai parameter""" 
 print("Hi, " + nama + ". Apa kabar?") 
 # pemanggilan fungsi 
# output: Hi, Umar. Apa kabar? 
sapa('Galih')

Hi, Galih. Apa kabar?

In [17]:
def sapa(nama): 
 """Fungsi ini untuk menyapa seseorang sesuai nama yang dimasukkan 
sebagai parameter""" 
 print("Hi, " + nama + ". Apa kabar?") 
 # pemanggilan fungsi 
# output: Hi, Umar. Apa kabar? 
sapa('Ratna')

Hi, Ratna. Apa kabar?

Docstring

In [8]:
def sapa(nama): 
 """Fungsi ini untuk menyapa seseorang sesuai nama yang dimasukkan 
sebagai parameter""" 
print(sapa.__doc__)
 # pemanggilan fungsi 
# output: Hi, Umar. Apa kabar? 
sapa('Ratna')

Fungsi ini untuk menyapa seseorang sesuai nama yang dimasukkan
sebagai parameter

In [19]:
keluaran = sapa('Gani')
print(keluaran)

Hi, Gani. Apa kabar?
None

Argumen Wajib

In [18]:
sapa('Umar')

Hi, Umar. Apa kabar?

In [20]:
# akan muncul 
sapa()

TypeError: ignored

Argumen Kata Kunci

In [13]:
# definisi fungsi print_string 
def print_string( str ): 
 """Menampilkan argumen string str ke layar""" 
 print (str) 
# Kita memanggil fungsi dengan kata kunci 
print_string( str = "Hello Python")

Hello Python

In [14]:
# Definisi fungsi 
def print_info( nama, usia ): 
 """Fungsi ini menampilkan info yang dimasukkan"""
 print ("Nama: ", nama) 
 print ("Usia: ", usia) 
# Memanggil fungsi 
# output 
# Name: Budi 
# Usia: 25 
print_info( usia = 25, nama = "Budi" )

Nama:  Budi
Usia:  25

Argumen Default

In [15]:
# Definisi fungsi 
def print_info( nama, usia= 17 ): 
 """Fungsi ini menampilkan info yang dimasukkan""" 
 print ("Nama: ", nama) 
 print ("Usia ", usia) 
# Memanggil fungsi print_info 
print_info( usia = 29, nama = "Galih" ) 
# Pemanggilan fungsi tidak menyediakan argumen usia 
print_info( nama = "Galih" )

Nama:  Galih
Usia  29
Nama:  Galih
Usia  17

Argumen Dengan Panjang Sembarang

In [21]:
# Definisi fungsi
def print_info( arg1, *vartuple ):
 """Fungsi untuk menampilkan nilai argumen sembarang yang
dilewatkan"""
 print ("Outputnya adalah: ")
 print (arg1)
 for var in vartuple:
    print (var)
# Pemanggilan fungsi
# Satu argumen
print_info( 10 )

Outputnya adalah:
10

In [22]:
# Empat argumen
print_info( 10, 30, 50, 70 )

Outputnya adalah:
10
30
50
70

Ruang Lingkup (Scope) Variabel

In [22]:
total = 0
def sum( arg1, arg2 ): 
 """Menambahkan variabel dan mengembalikan hasilnya."""
 total = arg1 + arg2; 
 # total di sini adalah variabel lokal 
 print("Di dalam fungsi nilai total : ", total) 
 return total 
# Pemanggilan fungsi sum 
sum( 10, 20 ) 
print("Di luar fungsi, nilai total : ", total)

Di dalam fungsi nilai total :  30
Di luar fungsi, nilai total :  0

**Modul**

In [23]:
# Contoh modul python
def jumlah(a, b):
 """Fungsi ini menambahkan dua bilangan
 dan mengembalikan hasilnya"""
 result = a + b
 return result

Mengimpor Modul

In [ ]:
import example
example.jumlah(5,6)

Impor Module Dengan import

In [31]:
import math 
print("Nilai pi adalah:", math.pi)

Nilai pi adalah: 3.141592653589793

**Import dengan Module Rename**

In [32]:
 import math as m
 print("Nilai pi adalah:",math.pi)

Nilai pi adalah: 3.141592653589793

Import Sebagian Menggunakan from ... import ...

In [34]:
 from math import pi
 print("Nilai pi adalah", pi)

Nilai pi adalah 3.141592653589793

In [35]:
 from math import pi, e
 pi
3.141592653589793
 e
2.718281828459045

2.718281828459045

Import Semua Isi Modul Dengan import *

In [36]:
>>> from math import *
>>> print("Nilai e adalah:", e)

Nilai e adalah: 2.718281828459045

**Input dan Output**

In [37]:
# output: Kalimat ini dicetak ke layar 
print("Kalimat ini dicetak ke layar") 
a = 15 
# output: Nilai a = 15 
print("Nilai a =", a)

Kalimat ini dicetak ke layar
Nilai a = 15

In [39]:
print(1, 3, 5, 7) 
# output: 1 3 5 7 
print(1,2,3,4, sep='*') 
# output: 1*2*3*4 
print(1,2,3,4, sep='#', end='&') 
# output: 1#2#3#4&

1 3 5 7
1*2*3*4
1#2#3#4&

Operasi Input Menggunakan Fungsi input()

In [46]:
>>> name = input('Masukkan nama: ')
>>> print(name)

Masukkan nama: Budi
Budi

In [44]:
>>> panjang = input('Masukkan nilai panjang: ')
>>> lebar = input('Masukkan nilai lebar: ')
>>> luas = int(panjang) * int(lebar)
>>> print("Luas =", luas)

Masukkan nilai panjang: 10
Masukkan nilai lebar: 5
Luas = 50

**operasi File**

In [43]:
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [48]:
#membuka file
f = open('drive/MyDrive/TeknologiData/TeknologiData.txt')

In [49]:
#membaca file
print(f.read(4))
print(f.tell())
f.seek(0)

Hai
4

0

In [50]:
for line in f:
  print(line, end = '')

Hai Saya bagus Satria Putra
1841720146

In [53]:
>>> f.readline()
'This is the first line\n'
>>> f.readline()
'This is the second line\n'
>>> f.readline()
'This is the third line\n'

'This is the third line\n'

In [55]:
>>> f.readlines()
['This is the first line\n', 'This is the second line\n', 'This is the third line\n']

['This is the first line\n',
 'This is the second line\n',
 'This is the third line\n']

**Menulis File**

In [58]:
with open('drive/MyDrive/TeknologiData/TeknologiData.txt', 'w') as f:
 f.write("The new first line\n")
 f.write("The new second line\n")
 f.write("The new third line\n")

**menutup File**

In [59]:
f.open('drive/MyDrive/TeknologiData/TeknologiData.txt')
# melakukan berbagai operasi file
f.close()

AttributeError: ignored

In [60]:
try:
 f = open('drive/MyDrive/TeknologiData/TeknologiData.txt')
 # melakukan beberapa operasi file
finally:
 f.close()

In [61]:
with open("TeknologiData.txt") as f:
 # lakukan operasi file

SyntaxError: ignored

**Penanganan Eksepsi**

In [37]:
if x < 5

SyntaxError: ignored

In [38]:
>>> 1/0

ZeroDivisionError: ignored

**menangani Eksepsi Dengan Try,Except, dan Finally**

In [25]:
# import modul sys untuk memperoleh jenis eksepsi
import sys
lists = ['a', 0, 4]
for each in lists:
 try:
  print("Masukan:", each)
  r = 1/int(each)
  break
 except:
  print("Upps!", sys.exc_info()[0], " terjadi.")
  print("Masukan berikutnya.")
  print()
print("Kebalikan dari ", each, " =", r)

Masukan: a
Upps! <class 'ValueError'>  terjadi.
Masukan berikutnya.

Masukan: 0
Upps! <class 'ZeroDivisionError'>  terjadi.
Masukan berikutnya.

Masukan: 4
Kebalikan dari  4  = 0.25

**Memunculkan Eksepsi**

In [26]:

try:
 a = int(input("Masukkan sebuah bilangan positif: "))
 if a <= 0:
  raise ValueError("Itu bukan bilangan positif!")
except ValueError as ve:
 print(ve)

Masukkan sebuah bilangan positif: -3
Itu bukan bilangan positif!

**Try... Finally**

In [62]:
try:
 f = open('drive/MyDrive/TeknologiData/TeknologiData.txt')
 # melakukan operasi terhadap file
finally:
 f.close()