<a href="https://colab.research.google.com/github/BagusSatria123/TeknologiData/blob/master/Pertemuan4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
a = panjang1 + panjang2 + \
 panjang3 + \
panjang4
print(a)

NameError: ignored

In [7]:
nama_bulan = ['Januari', 'Maret', 'Juni', 'September']
print(nama_bulan)

['Januari', 'Maret', 'Juni', 'September']

**Baris dan Indentasi**

In [13]:
if True:
 print ("Jawab")
 print ("Benar")
else:
print ("Jawab")
print ("Salah")

IndentationError: ignored

**Tanda Kutip di Python**

In [15]:
kata = 'kata'
kalimat = "Ini adalah kalimat"
paragraf = """Ini adalah paragraf. Paragraf
 terdiri dari beberapa baris."""

**Komentar di Python**

In [ ]:
# Komentar pertama
print("Hello World!") # Komentar kedua

In [ ]:
# Ini komentar
# Ini juga adalah komentar
# Ini juga masih komentar

**Variabel dan Tipe Data Python**

**Multi penugasan**

In [16]:
x = y = z = 3
print(x)

3

In [17]:
a, b, c = 1, 3.4, "Umar"
print(a)
print(b)
print(c)

1
3.4
Umar

**Tipe Data Python**

Bilangan (Number)

In [18]:
x = 5 
print(x, "tipenya adalah ", type(x))
x = 2.0
print(x, "tipenya adalah ", type(x))
x = 1+2j
print(x, "tipenya adalah ",type(x))

5 tipenya adalah  <class 'int'>
2.0 tipenya adalah  <class 'float'>
(1+2j) tipenya adalah  <class 'complex'>

In [26]:
 a = 1234567899999999999999999999
 print(a)
1234567899999999999999999999
 b = 0.123456789123456789
 print(b)
0.12345678912345678
 c = 1+4j
 print(c)
(1+4j)

1234567899999999999999999999
0.12345678912345678
(1+4j)

(1+4j)

String

In [20]:
kalimat = "Nama saya Umar"
print(kalimat) # print string lengkap
print(kalimat[0]) # print karakter pertama
print(kalimat[-1]) # print karakter terakhir
print(kalimat[4:7]) # print dari indeks 4 - 6
print(kalimat[:4]) # print dari indeks 0 - 3

Nama saya Umar
N
r
 sa
Nama

List

In [23]:
 lst = [1, 'dua', 3.0]
 print(lst)

[1, 'dua', 3.0]

Tuple

In [29]:
white = (255,255, 255)
red = (255,0,0)
print(white)
print(red[0])
print(red[1])
# akan menghasilkan error
# tuple bersifat immutable
red[0] = 128

(255, 255, 255)
255
0

TypeError: ignored

Set

In [30]:
# set integer 
my_set = {1,2,3} 
print(my_set) 
# set dengan menggunakan fungsi set() 
my_set = set([1,2,3]) 
print(my_set) 
# set data campuran 
my_set = {1, 2.0, "Python", (3,4,5)} 
print(my_set) 
# bila kita mengisi duplikasi, set akan menghilangkan salah satu 
# output: {1,2,3} 
my_set = {1,2,2,3,3,3} 
print(my_set) 
# set tidak bisa berisi anggota list 
# contoh berikut akan muncul error TypeError 
my_set = {1,2,[3,4,5]}

{1, 2, 3}
{1, 2, 3}
{1, 2.0, (3, 4, 5), 'Python'}
{1, 2, 3}

TypeError: ignored

Dictionary

In [31]:
d = {1:'satu', 2:'dua', 'tiga':3}
print(tipe(d))
print("d[1] = ", d[1])
print("d['tiga'] = ", d['tiga'])
# Error
print("d[3] = ", d[3])

NameError: ignored

**Operator Python**

Operator Aritmatika

x + y
x – y
x * y
x / y
x **y
x // y
x % y

Operator Perbandingan

In [32]:
x > y
x < y
x == y
x != y
x >= y
x <= y

TypeError: ignored

Operator Penugasan

In [34]:
c = a + b 
menugaskan a + b 
ke c
c += a sama 
dengan c = c + a
c -= a sama 
dengan c = c + a
c *= a sama 
dengan c = c * a
c /= a sama 
dengan c = c * a
c **= a sama 
dengan c = c ** a
c //= a sama 
dengan c = c // a
c %= a sama 
dengan c = c % a

SyntaxError: ignored

Operator Logika

In [33]:
x and y
not x
x or y

(1+2j)

Operator Bitwise

In [35]:
x& y = 0 (0000 0000)
x | y = 14 (0000 1110)
~x = -11 (1111 0101)
x ^ y = 14 (0000 1110)
x>> 2 = 2 (0000 0010)
x<< 2 = 40 (0010 1000)

SyntaxError: ignored

Operator Identitas

In [36]:
x is True
x is not True

True

Operator Keanggotaan

In [37]:
5 in x
5 not in x

TypeError: ignored

**Percabangan**

Pernyataan if

In [38]:
if tes kondisi:
 blok pernyataan if

SyntaxError: ignored

In [ ]:
5 adalah bilangan positif

**Pernyataan if…else**

In [39]:
if tes kondisi:
 blok pernyataan if
else:
 blok pernyataan else

SyntaxError: ignored

In [42]:
# Program menguji apakah sebuah bilangan positif atau negatif
# dan menampilkan pesan ke monitor
bilangan = 5
# coba juga mengubah bilangan menjadi bilangan = -1
# dan perhatikan hasilnya
if bilangan >= 0:
 print("Positif atau Nol")
else:
 print("Bilangan negatif")

Positif atau Nol

**Pernyataan if…elif…else…**

In [40]:
if tes kondisi:
 blok pernyataan if
elif tes kondisi:
 blok pernyataan elif
else:
 blok pernyataan else

SyntaxError: ignored

In [41]:
# Di sini kita menguji apakah sebuah bilangan
# adalah bilangan positif, nol, atau negatif
# dan menampilkan hasilnya ke layar
bilangan = 5.5
# Coba juga mengganti bilangan jadi
# bilangan = 0
# bilangan = -5.5
if bilangan > 0:
 print("Bilangan positif")
elif bilangan == 0:
 print("Nol")

Bilangan positif

**Perulangan**

Perulangan Dengan Menggunakan For

In [43]:
# Program untuk menemukan jumlah bilangan dalam satu list
# List number
numbers = [7, 5, 9, 8, 4, 2, 6, 4, 1]
# variablel untuk menyimpan jumlah
sum = 0
# iterasi
for each in numbers:
 sum = sum + each
# Output: Jumlah semuanya: 46
print("Jumlah semuanya:", sum)

Jumlah semuanya: 46

In [44]:
# Program untuk iterasi list menggunakan pengindeksan
mapel = ['matematika', 'fisika', 'kimia']
# iterasi list menggunakan indeks
for i in range(len(mapel)):
 print("Saya suka", mapel[i])

Saya suka matematika
Saya suka fisika
Saya suka kimia

Perulangan Menggunakan while

In [45]:
count = 0
while (count < 5):
 print('The count is:', count)
 count = count + 1
print('Good bye!')

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4
Good bye!

Infinite Loop

In [47]:
The count is: 0
The count is: 0
The count is: 0
The count is: 0
The count is: 0
print('The count is:', count)

SyntaxError: ignored

Kendali Looping

In [48]:
# contoh penggunaan statement break
for letter in "Programming":
 if letter == "g":
 break
 print("Huruf sekarang:", letter)
print("Good bye")

IndentationError: ignored

while else

In [50]:
count = 0
while (count < 5):
 print(count, "kurang dari 5")
 count = count + 1
else:
 print(count, "tidak kurang dari 5")

0 kurang dari 5
1 kurang dari 5
2 kurang dari 5
3 kurang dari 5
4 kurang dari 5
5 tidak kurang dari 5

**Bilangan (Number)**

Konversi Jenis Bilangan

In [52]:
int(2.5)
2
int(3.8)
3
float(5)
5.0

5.0

Python Decimal

In [56]:
import decimal
#output: 0.1
print(0.1)
#output: 
Decimal('0.1000000000000000055511151231257827021181583404541015625')
print(decimal.Decimal(0.1))
Modul ini juga membuat kita bisa melakukan perhitungan seperti di sekolah.
from decimal import Decimal as D
#output: Decimal('3.3')
print(D('1.1') + D('2.2'))
#output: Decimal('3.000')
print(D('1.2') * D('2.50'))

0.1

NameError: ignored

Bilangan Pecahan

In [55]:
import fractions 
#output: 3/2 
print(fractions.Fraction(1.5)) 
#output: 1/3 
print(fractions.Fraction(1,3))

3/2
1/3

In [57]:
from fractions import Fraction as F 
# Output: 2/3 
print(F(1,3) + F(1,3)) 
# Output: 6/5 
print(1 / F(5,6)) 
# Output True 
print(F(-3,10) < 0)

2/3
6/5
True

Matematika Dengan Python

In [58]:
import math 
# Output: 3.141592653589793 
print(math.pi) 
# Output: -1.0 
print(math.cos(math.pi)) 
# Output: 148.4131591025766 
print(math.exp(5)) 
# Output: 2.0 
print(math.log10(100)) 
# Output: 120 
print(math.factorial(5))

3.141592653589793
-1.0
148.4131591025766
2.0
120

**String**

Mengakses Nilai String

In [59]:
var1 = 'Hello Python!' 
var2 = "I love Python" 
print("var1[0]", var1[0]) 
print("var2[2:6]:",var2[2:6])

var1[0] H
var2[2:6]: love

Mengupdate String

In [60]:
var1 = 'Hello Python!' 
var2 = var1[:6] 
print("String Update: - ", var1[:6] + 'World')

String Update: -  Hello World

Menggabung String

In [61]:
str1 = 'Hello' 
str2 = 'Python' 
# menggunakan + 
print('str1 + str2 =', str1 + str2) 
# menggunakan * 
print('str1 * 3 =', str1 * 3)

str1 + str2 = HelloPython
str1 * 3 = HelloHelloHello

Menguji Keanggotaan Karakter Dalam String

In [62]:
>>> 'a' in 'Programming'
True
>>> 'at' not in 'battle'
False

False

Mengetahui Panjang String

In [63]:
>>> string = 'I love Python'
>>> len(string)
18

18

Karakter Escape

In [64]:
>>> print("He said, "What's there?"")
...
SyntaxError: invalid syntax
>>> print('He said, "What's there?"')
...
SyntaxError: invalid syntax

SyntaxError: ignored

In [65]:
# menggunakan kutip tiga
print('''He said, "What's there?"''')
# menggunakan karakter escape untuk tanda kutip tunggal
print('He said, "What\'s there?"')
# menggunakan karakter escape untuk tanda kutip ganda
print("He said, \"What's there?\"")

He said, "What's there?"
He said, "What's there?"
He said, "What's there?"

Mengatur Format String

Metode format()

In [66]:
# menggunakan posisi default 
default_order = "{}, {} dan {}".format("Budi", "Galih","Ratna") 
print('\n--- Urutan default ---') 
print(default_order) 
# menggunakan argument posisi 
positional_order = "{1}, {0} dan {2}".format("Budi", "Galih","Ratna") 
print('\n--- Urutan berdasarkan posisi ---') 
print(positional_order) 
# menggunakan argumen kata kunci 
keyword_order = "{r}, {b} dan {g}".format("Budi", "Galih","Ratna") 
print('\n--- Urutan berdasarkan kata kunci ---') 
print(keyword_order)

--- Urutan default ---
Budi, Galih dan Ratna

--- Urutan berdasarkan posisi ---
Galih, Budi dan Ratna

KeyError: ignored

In [67]:
>>> # format integer
>>> "{0} bila diubah jadi biner menjadi {0:b}".format(12)
'12 bila diubah jadi biner menjadi 1100'
>>> # format float
>>> "Format eksponensial: {0:e}".format(1566.345)
'Format eksponensial: 1566345e+03'
>>> # pembulatan
>>> "Sepertiga sama dengan: {0:.3f}".format(1/3)
'Sepertiga sama dengan: 0.333'
>>> # Meratakan string
>>> "|{:<10}|{:^10}|{:>10}|".format('beras', 'gula', 'garam')
'|beras | gula | garam|'

'|beras | gula | garam|'

Format Cara Lama Dengan %

In [68]:
>>> nama = 'Budi'
>>> print('Nama saya %s' %s)
Nama saya Budi
>>> x = 12.3456789
>>> print('Nilai x = %3.2f' %x)
Nilai x = 12.35
>>> print('Nilai x = %3.4f' %x)
Nilai x = 12.3456

SyntaxError: ignored

Metode / Fungsi Bawaan String

In [69]:
>>> "PythonIndo".lower()
'pythonindo'
>>> "Pythonindo".upper()
'PYTHONINDO'
>>> "I love programming in Python".split()
['I', 'love', 'programming', 'in', 'Python']
>>> "I love Python".startswith("I")
True
>>> "Saya belajar Python".endswith("on")
True
>>> ' - '.join(['I', 'love', 'you'])
I - love - you
>>> "Belajar Java di Pythonindo".replace('Java', 'Python')
'Belajar Python di Pythonindo

SyntaxError: ignored

**List**

Membuat List

Mengakses Anggota List

In [70]:
my_list = ["I", "love","python","programming",2017] 
# output: I 
my_list[0] 
#output: python 
my_list[2]
# list dalam list 
your_list = ["hello", [1,2,3], "python"] 
# output 1 
print(your_list[1][0]) 
# output 3 
print(your_list[1][2]) 
# IndexError 
my_list[6]

1
3

IndexError: ignored

List Dengan Indeks Negatif

In [71]:
my_list = ['p','y','t','h','o','n'] 
# output: n 
my_list[-1] 
# output: h 
my_list[-3]

'h'

Memotong (Slicing) List

In [72]:
# anggota list dari 3 s/d 5 (dari h s/d n) 
print(my_list[3:6])
# anggota list dari 4 s/d yang terakhir 
print(my_list[4:]) 
# anggota list dari 0 s/d 4 
print(my_list[:5]) 
# indeks dari belakang dari -1 s/d -4 
print(my_list[-1:-5])

['h', 'o', 'n']
['o', 'n']
['p', 'y', 't', 'h', 'o']
[]

Mengubah Anggota List

In [73]:
# misal ada nilai yang salah 
ganjil = [1,3,4,7,9] 
# ubah item ke 3 (indeks ke 2) 
ganjil[2] = 5 print(ganjil) 
# mengubah sekali banyak 
ganjil[2:5] = [11,13,15] 
print(ganjil)

SyntaxError: ignored

Metode List

Menambahkan Anggota List

In [74]:
>>> ganjil = [1,3,5,7]
>>> ganjil.append(9)
>>> print(ganjil)
[1,3,5,7,9]
>>> ganjil.extend([11,13,15])
>>> print(ganjil)
[1,3,5,7,9,11,13,15]
>>> genap = [2, 4, 6]
>>> print(genap + [8, 10, 12])
[2, 4, 6, 8, 10, 12]
>>> print(['p','y'] * 2)
['p','y','p','y]

SyntaxError: ignored

Menyisipkan Anggota List

In [75]:
>>> ganjil = [5,7,11,13,15]
>>> # kita akan menyisipkan 9 setelah angka 7
>>> ganjil.insert(2,9)
>>> print(ganjil)
[5,7,9,11,13,15]

[5, 7, 9, 11, 13, 15]

[5, 7, 9, 11, 13, 15]

Menghapus Anggota List

In [76]:
my_list = ['p', 'y', 't', 'h', 'o', 'n', 'i', 'n', 'd', 'o'] 
my_list.remove('p') 
# output ['y', 't', 'h', 'o', 'n', 'i', 'n', 'd', 'o']
print(my_list) 
my_list.remove('n') 
# remove hanya menghapus elemen pertama yang dijumpai 
# output: ['p', 'y', 't', 'h', 'o', 'i', 'n', 'd', 'o']
# Output 'y'
print(my_list.pop(1))
del my_list[2]
print(my_list)
my_list.clear()
# Output []
print(my_list)

['y', 't', 'h', 'o', 'n', 'i', 'n', 'd', 'o']
t
['y', 'h', 'i', 'n', 'd', 'o']
[]

Mengurutkan Anggota List

In [77]:
>>> alfabet = ['a','b','d','f','e','c','h','g','j','i']
>>> alfabet.sort()
>>> print(alfabet)
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
>>> alfabet.sort(reverse=True)
>>> print(alfabet)
['j', 'i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
['j', 'i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

['j', 'i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

Membalik Urutan List

In [78]:
>>> alfabet = ['a','c','d','e','b']
>>> alfabet.reverse()
>>> print(alfabet)
['b','e','d','c','b','a']

['b', 'e', 'd', 'c', 'a']

['b', 'e', 'd', 'c', 'b', 'a']

**Tuple**

Membuat Tuple

In [79]:
# membuat tuple kosong 
# Output: ( ) 
my_tuple = () 
print(my_tuple) 
# tuple dengan 1 elemen 
# Output: (1,) 
my_tuple = (1,) 
print (my_tuple) 
# tuple berisi integer 
# output = (1, 2, 3) 
my_tuple = (1, 2, 3) 
print(my_tuple) 
# tuple bersarang
# Output: ("hello", [1, 2, 3], (4, 5, 6)) 
my_tuple = ("hello", [1, 2, 3], (4, 5, 6)) 
print(my_tuple) 
# Tuple bisa tidak menggunakan tanda () 
# Output (1, 2, 3)
my_tuple = 1, 2, 3 
# memasukkan anggota tuple ke variabel yang bersesuaian 
# a akan berisi 1, b berisi 2, dan c berisi 3 
# output 1 2 3 
a, b, c = my_tuple 
print(a, b, c)

()
(1,)
(1, 2, 3)
('hello', [1, 2, 3], (4, 5, 6))
1 2 3

Mengakses Anggota Tuple

In [80]:
my_tuple = ('p','y','t','h','o','n') 
# Output: 'p' 
print(my_tuple[0]) 
# Output: 'y' 
print(my_tuple[1]) 
# Output: 'n' 
print(my_tuple[-1]) 
# Output: 'o' 
print(my_tuple[-2]) 
# IndexError 
print(my_tuple[6])

p
y
n
o

IndexError: ignored

In [81]:
my_tuple = ('p','r','o','g','r','a','m','m','i','n','g') 
# akses dari indeks 0 s/d 2 
# output: ('p','r','o') 
print(my_tuple[:3])
# Akses dari indeks 2 s/d 5 
# output: ('r','o','g','r') 
print(my_tuple[2:6]) 
# Akses dari indeks 3 sampai akhir 
# output: ('r','o','g','r','a','m','m','i','n','g') 
print(my_tuple[3:])

('p', 'r', 'o')
('o', 'g', 'r', 'a')
('g', 'r', 'a', 'm', 'm', 'i', 'n', 'g')

Mengubah Anggota Tuple

In [83]:
my_tuple = (2, 3, 4, [5, 6]) 
# kita tidak bisa mengubah anggota tuple 
# bila kita hilangkan tanda komentar # pada baris ke 6 
# akan muncul error: # TypeError: 'tuple' object does not support item assignment 
# my_tuple[1] = 8 
# tapi list di dalam tuple bisa diubah 
# output: (2, 3, 4, [7, 6]) 
my_tuple[3][0] = 7 
print(my_tuple) 
# tuple bisa diganti secara keseluruhan dengan penugasan kembali 
# output: ('p','y','t','h','o','n') 
my_tuple = ('p','y','t','h','o','n') 
print(my_tuple) 
# anggota tuple juga tidak bisa dihapus menggunakan del
# perintah berikut akan menghasilkan error TypeError
# kalau Anda menghilangkan tanda komentar #
#del my_tuple[0]
# kita bisa menghapus tuple keseluruhan
del my_tuple

(2, 3, 4, [7, 6])
('p', 'y', 't', 'h', 'o', 'n')

Menguji Keanggotaan Tuple

In [84]:
my_tuple = (1, 2, 3, 'a', 'b', 'c') 
# menggunakan in 
# output: True 
print('3' in my_tuple) 
# output: False 
print('e' in my_tuple) 
# menggunakan not in 
# output True 
print('k' not in my_tuple)

False
False
True

Iterasi Pada Tuple

In [85]:
# output: 
# Hi Galih 
# Hi Ratna 
nama = ('Galih', 'Ratna') 
for name in nama: 
 print('Hi', name)

Hi Galih
Hi Ratna

Metode dan Fungsi Bawaan Tuple

In [86]:
my_tuple = ('p','y','t','o','n','i','n','d','o') 
# count 
# output: 2 
print(my_tuple.count('n')) 
# index 
# Output 4 
print(my_tuple.index('n'))

2
4

**Set**

Membuat Set

In [87]:
# set integer 
my_set = {1,2,3} 
print(my_set) 
# set dengan menggunakan fungsi set() 
my_set = set([1,2,3]) 
print(my_set) 
# set data campuran 
my_set = {1, 2.0, "Python", (3,4,5)} 
print(my_set) 
# bila kita mengisi duplikasi, set akan menghilangkan salah satu 
# output: {1,2,3} 
my_set = {1,2,2,3,3,3} 
print(my_set) 
# set tidak bisa berisi anggota list 
# contoh berikut akan muncul error TypeError 
my_set = {1,2,[3,4,5]}

{1, 2, 3}
{1, 2, 3}
{1, 2.0, (3, 4, 5), 'Python'}
{1, 2, 3}

TypeError: ignored

Mengubah Anggota Set

In [88]:
# membuat set baru 
my_set = {1,2,3} 
print(my_set) 
# bila kita hilangkan tanda # dari baris 9 akan muncul error TypeError 
#my_set[0] 
# menambah satu anggota 
# output: {1,2,3,4} 
my_set.add(4) 
print(my_set) 
# menambah beberapa anggota 
# set akan menghilangkan duplikasi 
# output: {1,2,3,4,5,6} 
my_set.update([3,4,5,6]) 
print(my_set)

{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6}

Menghapus Anggota Set

In [89]:
# membuat set baru 
my_set = {1, 2, 3, 4, 5} 
print(my_set) 
# menghapus 4 dengan discard 
# output: {1, 2, 3, 5} 
my_set.discard(4) 
print(my_set) 
# menghapus 5 dengan remove 
# output : {1, 2, 3} 
my_set.remove(5) 
print(my_set) 
# anggota yang mau dihapus tidak ada dalam set 
# discard tidak akan memunculkan error
# output: {1, 2, 3} 
my_set.discard(6)

{1, 2, 3, 4, 5}
{1, 2, 3, 5}
{1, 2, 3}

In [90]:
# membuat set baru 
# output: set berisi anggota yang unik 
my_set = set("HelloPython") 
print(my_set) 
# pop anggota 
# output: anggota acak 
print(my_set.pop())
# pop anggota lainnya 
# output: anggota acak 
print(my_set.pop()) 
# mengosongkan set 
# output: set() 
my_set.clear() 
print(my_set)

{'t', 'n', 'h', 'e', 'y', 'l', 'o', 'H', 'P'}
t
n
set()

**Operasi Set di Python**

Operasi Gabungan (Union)

In [91]:
# Membuat set A and B 
A = {1, 2, 3, 4, 5} 
B = {4, 5, 6, 7, 8} 
# Gabungan menggunakan operator | 
# output: {1, 2, 3, 4, 5, 6, 7, 8} 
print(A | B) 
# Menggunakan fungsi union() 
# output: {1, 2, 3, 4, 5, 6, 7, 8} 
A.union(B) 
# output: {1, 2, 3, 4, 5, 6, 7, 8} 
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8}

{1, 2, 3, 4, 5, 6, 7, 8}

Operasi Irisan (Intersection)

In [92]:
# Membuat set A and B 
A = {1, 2, 3, 4, 5} 
B = {4, 5, 6, 7, 8} 
# Irisan menggunakan operator &
# output: {4,5} 
print(A & B) 
# Menggunakan fungsi intersection() 
# output: {4,5} 
A.intersection(B) 
# output: {4,5} 
B.intersection(A)

{4, 5}

{4, 5}

Operasi Selisih (Difference)

In [93]:
# membuat A and B 
A = {1, 2, 3, 4, 5} 
B = {4, 5, 6, 7, 8} 
# Menggunakan operator - pada A 
# Output: {1, 2, 3} 
print(A - B) 
# Output: {1, 2, 3} 
A.difference(B) 
# Menggunakan operator - pada B 
# Output: {8, 6, 7} 
print(B - A) 
# Output: {8, 6, 7} 
B.difference(A)

{1, 2, 3}
{8, 6, 7}

{6, 7, 8}

Operasi Komplemen (Symmetric Difference)

In [94]:
# membuat A and B 
A = {1, 2, 3, 4, 5} 
B = {4, 5, 6, 7, 8} 
# Menggunakan operator ^ pada A 
# Output: {1, 2, 3, 6, 7, 8} 
print(A ^ B) 
# Output: {1, 2, 3, 6, 7, 8} 
A.symmetric_difference(B) 
# Menggunakan operator ^ pada B 
# Output: {1, 2, 3, 6, 7, 8} 
print(B ^ A)
# Output: {1, 2, 3, 6, 7, 8} 
B.symmetric_difference(A)

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

{1, 2, 3, 6, 7, 8}

Metode (Fungsi) Set